.container {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: white;
  padding: 16px 64px;
  text-align: right;
}

.logo img {
  height: 48px;
}

.thirdContainer {
  display: flex;
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 12px;
  padding: 16px;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.menuItem {
  font-family: var(--artico);
  font-size: 16px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  padding: 14px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  user-select: none;
}

.menuItem:hover {
  background-color: rgba(216, 150, 237, 0.2);
}

.menuItemActive {
  background-color: var(--primary);
  color: white;
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rightWrapper .header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rightWrapper .header .title {
  font-family: var(--antonia);
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 64px;
  width: 100%;
  background-color: var(--secondary);
  height: 100%;
  border-radius: 32px 0 0 0;
}

.rightWrapper .header .desc {
  margin: 0;
  font-family: var(--artico);
  font-size: 16px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputContainer .title {
  font-weight: 600;
  font-size: 24px;
  font-family: var(--antonia);
  margin: 0;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  display: flex;
  gap: 24px;
}

.confirm {
  width: 100%;
}

.confirm .label {
  font-family: var(--artico);
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 4px 0;
}

.confirm .value {
  font-family: var(--artico);
  font-size: 16px;
  margin: 0;
}

.confirm img {
  height: 240px;
  width: fit-content;
  margin-top: 16px;
}

.button {
  background-color: var(--primary);
  padding: 16px 24px;
  color: white;
  cursor: pointer;
  width: fit-content;
  border-radius: 100px;
  font-family: var(--artico);
  font-size: 16px;
  text-align: center;
  border: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--hover);
}

.buttonDanger {
  background-color: #ef4444;
}

.buttonDanger:hover {
  background-color: #dc2626;
}